Source: red5
Section: web
Priority: optional
Maintainer: Paul Gregoire <mondain@gmail.com>
Build-Depends: debhelper (>= 4.0.0), maven, sun-java7-jdk
Standards-Version: 3.6.1

Package: red5
Architecture: all
Depends: sun-java7-bin
Description: Red5 media server 
 Red5 is a server that not only streams content to the Flash plugin, but it can push calls and information to the Flash client! It can also receive video/audio/data from a flash client and either save or rebroadcast that content.

